[motor_constants siboor-42sth40-1648a-300]  # 300mm leadscrew motors for the Siboor Trident AWD
# Coil resistance, Ohms
resistance: 1.65
# Coil inductance, Henries
inductance: 0.0032
# Holding torque, Nm
holding_torque: 0.36
# Nominal rated current, Amps
max_current: 1.68
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200

[autotune_tmc stepper_x]
motor: siboor-42sth48-2504(s45)
[autotune_tmc stepper_x1]
motor: siboor-42sth48-2504(s45)
[autotune_tmc stepper_y]
motor: siboor-42sth48-2504(s45)
[autotune_tmc stepper_y1]
motor: siboor-42sth48-2504(s45)

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg-9T   # LDO Galileo2 motor
# motor: siboor-14sth20-1004a    # Siboor CW2 motor

# [autotune_tmc stepper_z]
# motor: siboor-42sth40-1648a-300
# [autotune_tmc stepper_z1]
# motor: siboor-42sth40-1648a-300
# [autotune_tmc stepper_z2]
# motor: siboor-42sth40-1648a-300
