[autotune_tmc stepper_x]
motor: siboor-42sth48-2504(s45)
[autotune_tmc stepper_x1]
motor: siboor-42sth48-2504(s45)

[autotune_tmc stepper_y]
motor: siboor-42sth48-2504(s45)
[autotune_tmc stepper_y1]
motor: siboor-42sth48-2504(s45)

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg-9T   # LDO Galileo2 motor
# motor: siboor-14sth20-1004a    # Siboor CW2 motor

[autotune_tmc stepper_z]
motor: siboor-42sth40-1684a-300
tuning_goal: performance
[autotune_tmc stepper_z1]
motor: siboor-42sth40-1684a-300
tuning_goal: performance
[autotune_tmc stepper_z2]
motor: siboor-42sth40-1684a-300
tuning_goal: performance
