[board_pins NightOwl]
#fysetc erb2.0
mcu: NightOwl # Assuming using an external / extra mcu dedicated to MMU
aliases:
    LANE1_UART=gpio17, #SELECTOR MOTOR
    LANE1_STEP=gpio16,
    LANE1_DIR=gpio15,
    LANE1_EN=gpio14,
    LANE1_DIAG=gpio19,
    LANE1_ENDSTOP=gpio24,
    LANE2_UART=gpio11, #GEAR MOTOR
    LANE2_STEP=gpio10,
    LANE2_DIR=gpio9,
    LANE2_EN=gpio8,
    LANE2_DIAG=gpio13,
    LANE1_TRIG=gpio22,
    LANE2_TRIG=gpio23
    LANE1_EXT=gpio24,
    LANE2_EXT=gpio25,
    NT_HUB=gpio21,
    TN_ADV=gpio28,
    TN_TRL=gpio29
    # MMU_NEOPIXEL=gpio21,
    # MMU_ENCODER=gpio22,
    # MMU_SERVO=gpio23,
    # MMU_GATE_SENSOR=,gpio25
    # LANE1_TRIG=gpio3,
    # LANE2_TRIG=gpio5,
    # LANE1_EXT=gpio4,
    # LANE2_EXT=gpio6,
    # TN_ADV=gpio2,
    # TN_TRL=gpio18